<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>E-ticket</title>
  
  <link rel="stylesheet" href="css/general.css" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="wrapper">
    <div id="e-ticket">
      <div id="header">
        <p class="printed-version">Versão para impressão</p>
        <img src="imgs/logo_entidade.png" alt="Logo entidade" />
      </div>

      <div class="table">
        <div class="row watermark">
          <div class="column pb-5 qr-code white-50">
            <img class="event-image" src="imgs/imagem_evento.png" alt="Imagem do evento">
            <figure class="qr-code text-center"><img src="imgs/qr-code.png" alt="QR Code" /></figure>
            <div class="locator-label text-center">Localizador da venda</div>
            <div class="locator text-center">GRXMW9D | 000001</div>
            <p class="tax-cupom text-center">Ingresso válido como documento fiscal</p>
          </div>
          <div class="column content white-50">
            <p class="event-name">Temporada OSESP - Heinz Holliger – Ueli Wiget – Luiz Garcia</p>
            <p>7 de Novembro a 9 de Novembro</p>
            <p><b>Sala São Paulo</b> - Praça Júlio Prestes, 16 - Campos Elíseos, São Paulo - SP, 01218-020, Brasil</p>

            <div class="table">
              <div class="row">
                <div class="column w-40 pb-3"><b>Tipo de ingresso</b><br/>Meia estudante</div>
                <div class="column w-20 pb-3"><b>Valor</b><br/>R$ 7,50</div>
                <div class="column pb-3"><b>Classificação indicativa: </b>18 anos</div>
              </div>
              <div class="row">
                <div class="column w-40 pb-3"><b>Setor</b><br/>Piso Térreo Plateia Central</div>
                <div class="column w-20 pb-3"><b>Assento</b><br/>K 1</div>
                <div class="column pb-3"><b>Dados do Comprador</b><br/>Gabriel Silveira - 334.263.748-03</div>
              </div>
            </div>

            <div class="extra-infos">
              <p class="left-floated">
                <b>Informações do promotor</b><br/>
                <b>CNPJ: </b>05.494.572/0001-98<br/>
                <b>CCM: </b>3.572.515-0
              </p>
              <p class="left-floated">
                <b>Empresa responsável pela venda</b><br/>
                <b>Nome:</b> IT.ART Tecnologia LTDA<br/>
                <b>CNPJ</b> 23.823.212/0001-74
              </p>
              <p class="left-floated">
                <b>Alvará de funcionamento:</b> 2018/12146-00 - <b>Validade: </b>18/07/2019<br/>
                <b>AVCB</b> n&ordm; 288521 - <b>Validade: </b> 06/02/2019<br/>
                <b>Certificado de acessibilidade</b> nº 2014/17296-00
              </p>
            </div>

            <div class="eco-message-panel right-floated">
              <img class="eco-logo left-floated" src="imgs/eco.png" alt="Eco" />
              <p class="eco-message">
                <b>Responsabilidade ecológica.</b><br/>
                Ingressos digitais diminuem o consumo de papel.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="disclaimer">
        <img class="powered" src="imgs/powered.png" alt="Powered by INTI" />

        <p class="important-info"><b>Informações importantes</b></p>
        <p>Ingresso pessoal e intransferível.</p>
        <p>Não nos responsabilizamos por ingressos adquiridos fora dos canais oficiais de venda.</p>
        <p>É obrigatória a apresentação de um documento de identificação original com foto em nome do comprador.</p>
        <p>O cartão utilizado no ato da compra pode ser solicitado no acesso ao evento.</p>
        <p>A produção e execução do evento é de inteira responsabilidade do promotor.</p>
        <p>A não utilização do bilhete não dá direto à troca ou devolução de qualquer quantia paga pela aquisição do mesmo.</p>
        <p>Ao adquirir esse ingresso, você está concordando com os Termos de Uso e Política de Privacidade, dispostos no ato da compra.</p>
        <p>Ao entrar no evento, o visitante autoriza o uso de sua imagem pessoal por parte dos organizadores. As imagens captadas no
        espaço poderão ser utilizadas em materiais de foto, vídeo, documentos, meios de comunicação, campanhas promocionais e
        institucionais destinadas à divulgação ao público.</p>
        <img src="imgs/scissor.png" alt="Corte aqui" class="scissor" />
      </div>

      <div class="table">
        <div class="row">
          <div class="column qr-code">
            <figure class="qr-code text-center"><img src="imgs/qr-code.png" alt="QR Code" /></figure>
            <div class="locator-label text-center">Localizador da venda</div>
            <div class="locator text-center">GRXMW9D | 000001</div>
          </div>
          <div class="column content">
            <p class="event-name">Temporada OSESP - Heinz Holliger – Ueli Wiget – Luiz Garcia</p>
            <p>7 de Novembro a 9 de Novembro</p>
            <p><b>Sala São Paulo</b> - Praça Júlio Prestes, 16 - Campos Elíseos, São Paulo - SP, 01218-020, Brasil</p>
            <p class="left-floated w-40"><b>Tipo de ingresso:</b><br/>Meia estudante</p>
            <p><b>Valor:</b><br/>R$ 7,50</p>
            <p class="left-floated w-40"><b>Setor:</b><br/>Piso Térreo Plateia Central</p>
            <p><b>Assento:</b><br/>K 1</p>
            <p><b>Comprador:</b><br/><b>Nome:</b> Gabriel Silveira - <b>CPF:</b> 334.263.748-03</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>